h2 {
        color:black;
}
h3 {
        color: black;
}
p  {
        background-color: rgb(0, 255, 0);
}
img {
    max-width: 40%;

}
img2 {
    max-width: 40%;
}

.columm {
  display: inline-block;
  width: 60%;
}
.col-70{
  width: 50%;
}
.col-30{
  width: 50%;
}
.col1 {
  background-color: rgb(0, 255, 0);
  
}
.col2 {
  background-color: rgb(0, 255, 0);
}
